<ion-header>
  <ion-toolbar>
    <ion-title>Rezept Eingabe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipe-input">
    <h2>Gib dein Rezept ein</h2>

    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
      <div *ngFor="let ingredient of ingredients; let i = index">
        <ion-item>
          <ion-label position="stacked">Zutat {{ i + 1 }}</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="ingredient.name"
            name="ingredientName{{ i }}"
            required
            placeholder="Name der Zutat"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Menge (g)</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="ingredient.amount"
            name="ingredientAmount{{ i }}"
            required
            placeholder="Menge in g"
          ></ion-input>
        </ion-item>
      </div>

      <ion-button expand="full" type="button" (click)="addIngredient()">Zutat hinzufügen</ion-button>
      <ion-button expand="full" type="submit" [disabled]="!recipeForm.valid">Nährwerte berechnen</ion-button>
    </form>

    <div *ngIf="nutritionalData.length > 0">
      <h3>Berechnete Nährwerte</h3>
      <div *ngFor="let data of nutritionalData">
        <p>{{ data.name }}: {{ data.value | number: '1.1-1' }} {{ data.unit }}</p>
      </div>
    </div>
  </div>
</ion-content>
