.recipe-input {
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

ion-item {
  margin-bottom: 15px;
}

ion-label {
  font-weight: bold;
  color: #333;
}

ion-input {
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 16px;
}

ion-button {
  margin-top: 20px;
}

ion-button[disabled] {
  opacity: 0.5;
}

/* Nährwertdaten */
.recipe-input p {
  font-size: 16px;
  text-align: center;
  color: #333;
}

.recipe-input .nutritional-data {
  margin-top: 20px;
}
