<ion-header>
  <ion-toolbar>
    <ion-title>Rezepte suchen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    [(ngModel)]="suchbegriff"
    (ionInput)="suche($event)"
    placeholder="Rezepte und Zutaten auf Englisch eingeben"
    debounce="300">
  </ion-searchbar>

  <ion-list *ngIf="vorschlaege.length > 0">
    <ion-item *ngFor="let v of vorschlaege" (click)="vorschlagAuswaehlen(v)">
      <ion-label>
        <strong *ngIf="v.type === 'zutat'">🥕 Zutat:</strong>
        <strong *ngIf="v.type === 'rezept'">📖 Rezept:</strong>
        {{ v.name }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="suchbegriff && vorschlaege.length === 0">
    Keine passenden Zutaten oder Rezepte gefunden.
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let z of ausgewaehlteZutaten; let i = index">
      {{ z }}
      <ion-button fill="clear" color="danger" slot="end" (click)="zutatEntfernen(i)">
        Entfernen
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="rezepteSuchen()">
    Rezepte anzeigen
  </ion-button>

  <ion-card *ngFor="let rezept of rezepte" (click)="zeigeDetails(rezept.idMeal)" style="cursor: pointer;">
    <img [src]="rezept.strMealThumb" />
    <ion-card-header>
      <ion-card-title>{{ rezept.strMeal }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Kategorie: {{ rezept.strCategory || 'Unbekannt' }}<br />
      Herkunft: {{ rezept.strArea || 'Unbekannt' }}
    </ion-card-content>
  </ion-card>
</ion-content>
